# Deno
cov/
coverage/
coverage.lcov

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*

# Cache
.deno/*
tmp
node_modules
.env
.env.local
.dev.vars

# mizchi
__deprecated
__deprecated/*
.cline
.clineignore
.github
.hooks
modules
modules/*
.clinerules
.roomodes
deno.json
deno.lock
.gemini
.vscode


# local files
apps/nh_top/*
apps/nh_top/
apps/nh_top/

# build files
apps/fluid-nh_top/static/*